/*HOMEPAGE*/

/*body*/
.homepage {
    body {
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        width: 100%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: white;
        color: black;
    }
    
    /*body*/
    
    /*header*/
    
    header {  
        background-image: url(/images/spaceBackground.png);
        width: 100%;
        height: 865px;
    }
    
    #logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #logo img {
        flex-grow: 1;
        max-width: 875px;
        height: auto;
        object-fit: cover;
        overflow: hidden;
        margin-top: 35px;
    }
    
    #socialmediaIcoontjes {
        margin-top: 70px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    }
    
    #socialmediaIcoontjes img {
        width: 50px;
        height: 50px;
    }
    
    #socialmediaIcoontjes #youtubeIcon {
        height: 60px;
        width: 60px;
    }
    
    /*header*/
    
    .promotionVideo p {
        margin-left: 20px;
    }


    /*nav*/
    nav { 
        height: 73px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-items: stretch;
        background-color: black;
    }
    
    nav a {
        padding-top: 26px;
        flex: 1 1 0;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    
    nav a:hover {
        background-color: rgb(24, 24, 24);
    }

    nav a:first-of-type {
        text-decoration: underline;
    }
    
    /*nav*/
    
    /*footer*/
    footer {
        background-color: black;
        font-size: 75%;
    }
    
    footer .footerContainer {
        margin: 0 auto;
        width: 400px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    footer .footerContainer a {
        text-decoration: none;
    }
    
    footer .footerContainer a, footer .footerContainer p {
        color: white;
    }
}


/*footer*/

/*HOMEPAGE*/


/*CONTACT*/
.contact {
    body {
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        background-color: white;
        width: 100%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: 937px;
    }
    
    nav { 
        height: 71px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-items: stretch;
        background-color: black;
        border-bottom: none;
    }
    
    nav a {
        padding-top: 26px;
        flex: 1 1 0;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    
    nav a:hover {
        background-color: rgb(24, 24, 24);
    }

    nav a:nth-of-type(2) {
        text-decoration: underline;
    }

    h1 {
        padding-top: 30px;
        text-align: center;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        text-align: center;       
    }

    main img {
        display: block;
        max-width: 35px;
        margin-right: 0px;
    }

    main h2 {
        font-size: 15px;
        text-align: center;
    }

    input {
        padding-bottom: 200px;
        width: 500px;
    }

    button {
        margin-top: 25px;
        border-radius: 5px;
    }

    footer {
        background-color: black;
    }
    
    footer .footerContainer {
        margin: 0 auto;
        width: 400px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    footer .footerContainer a {
        text-decoration: none;
    }
    
    footer .footerContainer a, footer .footerContainer p {
        color: white;
    }

    footer {
        font-size: 75%;
        position:absolute;
        bottom:0;
        width:100%;
        }
}


/*CONTACT*/


/*About Me*/

.aboutme {
    body {
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        width: 100%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: 937px;
        background-color: white;
    }

    #Text {
        margin-left: 30px;
    }

    nav { 
        height: 71px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-items: stretch;
        background-color: black;
        border-bottom: none;
    }
    
    nav a {
        padding-top: 26px;
        flex: 1 1 0;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    
    nav a:hover {
        background-color: rgb(24, 24, 24);
    }

    nav a:nth-of-type(2) {
        text-decoration: underline;
    }
    
    footer {
        background-color: black;
    }
    
    footer .footerContainer {
        margin: 0 auto;
        width: 400px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    footer .footerContainer a {
        text-decoration: none;
    }
    
    footer .footerContainer a, footer .footerContainer p {
        color: white;
    }

    footer {
        font-size: 75%;
        position:absolute;
        bottom:0;
        width:100%;
    }
    
}
/*About Me*/

/*Portfolio*/

.portfolio {

    body {
        color: white;
        margin: 0px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    nav { 
        height: 71px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-items: stretch;
        background-color: black;
        border-bottom: none;
    }
    
    nav a {
        padding-top: 26px;
        flex: 1 1 0;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    
    nav a:hover {
        background-color: rgb(24, 24, 24);
    }

    nav a:nth-of-type(2) {
        text-decoration: underline;
    }

    #portfolioContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .portfolioImageCut {
        height: 350px;
        margin-left: 2.5px;
        margin-right: 2.5px;
        margin-bottom: 5px;
    }

}

/*Portfolio*/